.banner {
  font: 1.5em $francois-stack; 
  color: white;
  margin: 0;
  text-align: center;
  padding: 3% 0 3% 0;
}

.contact-form {
  @include dark_grey_background;  
  width: 25em;
  height: 27em;
  position: relative;
  top: 10em;
  margin: 0 auto;
  padding: 2% 2%;

  .form-field {
    padding: 8% 0 0 0;
  }

  label {
    font: 1em $raleway-stack;
    color: white;
  }

  input {
    width: 15em;
    float: right;
    border: 0.4em solid $light-grey;
    border-radius: 1em;
    outline: none;
    font-size: 0.9em;

    &:hover {
      border: 0.4em solid $steel-blue;
      @include transition(border 1.0s ease);
    }

    &[type='submit'] {
      width: 100%;
      position: relative;
      bottom: -3em;
    }
  }

  textarea {
    @extend input;
  }
}

.social-media-container {
  position: absolute;
  display: flex;
  bottom: 1em;
}

.contact-badge {
  width: 25%;
  padding: 0 1em;
  font-size: 2em;
}