.logo-container {
  text-align: center;
  position: fixed;
  width: 100vw;
  bottom: 10em;
  left: 10em;
  z-index: 100;
}

.logo {
  font: 3em $raleway-stack; 
  width: 20em;
}

footer {
  .logo {
    font: 1em $raleway-stack; 
    width: 10em;
    position: fixed;
    bottom: 1em;
    left: 1em;
  }
}
.logo-style {
  color: white;
  border: 1px solid white;
  padding: 1%;
  background-color: black;
  opacity: 0.5;

  &:hover {
    color: black;
    border: 1px solid black;
    padding: 1%;
    background-color: white;
    opacity: 0.5;
    @include transition(all 1.5s ease);

    a {
      color: black;
      @include transition(color 1.5s ease);
    }
  }
}