.logo-container {
  text-align: center;
  position: fixed;
  width: 100vw;
  bottom: 10em;
  left: 15em;
  z-index: 100;
}

.logo-large {
  font: 3em $raleway-stack; 
  width: 20em;
}

.logo-small {
  margin-left: 1em;
  font: 1em $raleway-stack; 
  width: 10em;
}

footer {
  .logo {
    @extend .logo-small;

    position: fixed;
    bottom: 1em;
    left: 1em;
  }
}

.logo-style {
  @include dark_grey_background;
  color: white;
  padding: 1%;

  &:hover {
    @include light_grey_background;
    color: black;
    padding: 1%;
    @include transition(all 1.5s ease);

    a {
      color: black;
      @include transition(color 1.5s ease);
    }
  }
}