.portfolio {
  .gallery-header {
  font: 3em $francois-stack;
  color: white;
  opacity: 0.50;
  position: fixed;
  top: 0.5em;
  margin-left: 1em;
}

.gallery {
  position: fixed;
  top: 7em;
  .image-anchor {
    &:focus {
      text-decoration: none;
      outline: 0 none;
    }
  }
}
}
