@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(http://fonts.googleapis.com/css?family=Francois+One:400,500);

$raleway-stack: 'Raleway', Helvetica, sans-serif;
$francois-stack: 'Francois One', sans-serif;

$light-grey: #c0c0c0;
$steel-blue: #3366CC;
