@import '../../bower_components/Ionicons/scss/ionicons';
@import '_variables';
@import '_mixins';
@import '_portfolio';
@import '_about';
@import '_logo';
@import '_contact-form';
@import '_responsive';

// Globals

// Set Box Sizing
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

p {
    display: block;
    @include reset_webkit_margin
}

#container {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.navbar {
  font: 1.1em $raleway-stack; 
  position: fixed;
  top: 1em;
  right: 5em;
  width: 28%;
  z-index: 100;
}

li {
  display: inline-block;
  list-style: none;
  padding: 0 5%;
}

.submenu > li {
  font-size: 0.8em !important;
  display: block;
  padding: 1.5%;
  
  &:hover {
    background-color: black;
    color: white;
    @include transition(all 1s ease);

    a {
      color:white;
      @include transition(color 1s ease);
    }
  }
}

a {
  color: white;
  text-decoration: none;
  padding: 0;

  &:hover {
    font-weight: bold;
    @include transition(font-weight 1s ease);
    cursor: pointer;
  }
}

img {
  height: auto;
  max-width: 100vw;
}

.fp-controlArrow {
  display: none;
}

.portfolio, .about, .contact, footer {
  display: none;
}
